USE [DB37]
GO
/****** Object:  Table [dbo].[ActiveStatustbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveStatustbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [ActiveStatustbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Adminstratortbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adminstratortbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[AdminPassword] [nvarchar](30) NOT NULL,
	[CNIC] [nvarchar](20) NOT NULL,
 CONSTRAINT [Administratortbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApprovalStatustbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalStatustbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [ApprovalStatustbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttendanceMarkingtbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceMarkingtbl](
	[StudentId] [int] NOT NULL,
	[AttendanceDate] [datetime] NOT NULL,
	[AttendanceStatusId] [int] NOT NULL,
 CONSTRAINT [AttendanceMarkingtbl_pk] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttendanceStatustbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceStatustbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [AttendanceStatustbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSubjecttbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSubjecttbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [ClassSubjecttbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classtbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classtbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Section] [nvarchar](50) NOT NULL,
 CONSTRAINT [Classtbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leavestbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leavestbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[LeaveDescription] [nvarchar](max) NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[ApprovalStatusId] [int] NOT NULL,
 CONSTRAINT [Leavestbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Markingstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markingstbl](
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[TotalMarks] [float] NOT NULL,
	[ObtainedMarks] [float] NOT NULL,
	[TermId] [int] NOT NULL,
 CONSTRAINT [Markingstbl_pk] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC,
	[StudentId] ASC,
	[SubjectId] ASC,
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parentstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parentstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[PrntPassword] [nvarchar](30) NOT NULL,
	[CNIC] [nvarchar](15) NOT NULL,
	[ApprovalStatusId] [int] NOT NULL,
	[MailAddress] [nvarchar](50) NOT NULL,
 CONSTRAINT [Parentstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParentStudenttbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentStudenttbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [ParentStudenttbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchoolEventstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolEventstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[EventDescription] [nvarchar](max) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
	[Charges] [nvarchar](20) NOT NULL,
 CONSTRAINT [SchoolEventstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentClasstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClasstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [StudentClasstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentLefttbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentLefttbl](
	[StudentId] [int] NOT NULL,
	[DateLeft] [datetime] NOT NULL,
 CONSTRAINT [StudentLefttbl_pk] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Studentstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studentstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RegistrationNumber] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[StdPassword] [nvarchar](30) NOT NULL,
	[CNIC] [nvarchar](15) NOT NULL,
	[ApprovalStatusId] [int] NOT NULL,
	[ActiveStatusId] [int] NOT NULL,
 CONSTRAINT [Studentstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjectstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjectstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [Subjectstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Termstbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termstbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [Termstbl_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeTabletbl]    Script Date: 30/04/2019 20:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTabletbl](
	[WeeksDay] [nvarchar](30) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[LectureTime] [time](7) NOT NULL,
 CONSTRAINT [TimeTabletbl_pk] PRIMARY KEY CLUSTERED 
(
	[WeeksDay] ASC,
	[ClassId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ActiveStatustbl] ON 

INSERT [dbo].[ActiveStatustbl] ([Id], [Name]) VALUES (1, N'Inactive')
INSERT [dbo].[ActiveStatustbl] ([Id], [Name]) VALUES (2, N'Active')
SET IDENTITY_INSERT [dbo].[ActiveStatustbl] OFF
SET IDENTITY_INSERT [dbo].[Adminstratortbl] ON 

INSERT [dbo].[Adminstratortbl] ([Id], [Username], [Email], [PhoneNumber], [AdminPassword], [CNIC]) VALUES (1, N'Admin', N'admin@gmail.com', N'03200498942', N'123', N'1234567890')
SET IDENTITY_INSERT [dbo].[Adminstratortbl] OFF
SET IDENTITY_INSERT [dbo].[ApprovalStatustbl] ON 

INSERT [dbo].[ApprovalStatustbl] ([Id], [Name]) VALUES (1, N'pending')
INSERT [dbo].[ApprovalStatustbl] ([Id], [Name]) VALUES (2, N'approved')
SET IDENTITY_INSERT [dbo].[ApprovalStatustbl] OFF
INSERT [dbo].[AttendanceMarkingtbl] ([StudentId], [AttendanceDate], [AttendanceStatusId]) VALUES (4, CAST(N'2019-04-01 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[AttendanceMarkingtbl] ([StudentId], [AttendanceDate], [AttendanceStatusId]) VALUES (4, CAST(N'2019-04-02 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[AttendanceMarkingtbl] ([StudentId], [AttendanceDate], [AttendanceStatusId]) VALUES (4, CAST(N'2019-04-03 00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[AttendanceStatustbl] ON 

INSERT [dbo].[AttendanceStatustbl] ([Id], [Name]) VALUES (1, N'Present')
INSERT [dbo].[AttendanceStatustbl] ([Id], [Name]) VALUES (2, N'Absent')
INSERT [dbo].[AttendanceStatustbl] ([Id], [Name]) VALUES (3, N'Leave')
SET IDENTITY_INSERT [dbo].[AttendanceStatustbl] OFF
SET IDENTITY_INSERT [dbo].[ClassSubjecttbl] ON 

INSERT [dbo].[ClassSubjecttbl] ([Id], [ClassId], [SubjectId]) VALUES (5, 9, 5)
INSERT [dbo].[ClassSubjecttbl] ([Id], [ClassId], [SubjectId]) VALUES (6, 9, 6)
INSERT [dbo].[ClassSubjecttbl] ([Id], [ClassId], [SubjectId]) VALUES (7, 9, 7)
SET IDENTITY_INSERT [dbo].[ClassSubjecttbl] OFF
SET IDENTITY_INSERT [dbo].[Classtbl] ON 

INSERT [dbo].[Classtbl] ([Id], [Section]) VALUES (9, N'1')
INSERT [dbo].[Classtbl] ([Id], [Section]) VALUES (10, N'2')
INSERT [dbo].[Classtbl] ([Id], [Section]) VALUES (11, N'3')
SET IDENTITY_INSERT [dbo].[Classtbl] OFF
INSERT [dbo].[Markingstbl] ([ClassId], [SubjectId], [StudentId], [TotalMarks], [ObtainedMarks], [TermId]) VALUES (9, 5, 4, 50, 40, 1)
INSERT [dbo].[Markingstbl] ([ClassId], [SubjectId], [StudentId], [TotalMarks], [ObtainedMarks], [TermId]) VALUES (9, 6, 4, 50, 45, 1)
INSERT [dbo].[Markingstbl] ([ClassId], [SubjectId], [StudentId], [TotalMarks], [ObtainedMarks], [TermId]) VALUES (9, 7, 4, 50, 50, 1)
GO
SET IDENTITY_INSERT [dbo].[Parentstbl] ON 

INSERT [dbo].[Parentstbl] ([Id], [FirstName], [LastName], [PhoneNumber], [PrntPassword], [CNIC], [ApprovalStatusId], [MailAddress]) VALUES (4, N'Ahmed', N'AbdulKhaliq', N'00000000000', N'123', N'0000000000000', 2, N'Ahmed106ak@gmail.com')
INSERT [dbo].[Parentstbl] ([Id], [FirstName], [LastName], [PhoneNumber], [PrntPassword], [CNIC], [ApprovalStatusId], [MailAddress]) VALUES (5, N'Talit', N'Mehmood', N'00000000001', N'123', N'0000000000001', 2, N'Talitm555@gmail.com')
INSERT [dbo].[Parentstbl] ([Id], [FirstName], [LastName], [PhoneNumber], [PrntPassword], [CNIC], [ApprovalStatusId], [MailAddress]) VALUES (6, N'Shireen', N'Gull', N'00000000002', N'123', N'0000000000002', 2, N'shireengull999@gmail.com')
SET IDENTITY_INSERT [dbo].[Parentstbl] OFF
SET IDENTITY_INSERT [dbo].[ParentStudenttbl] ON 

INSERT [dbo].[ParentStudenttbl] ([Id], [ParentId], [StudentId]) VALUES (4, 4, 4)
INSERT [dbo].[ParentStudenttbl] ([Id], [ParentId], [StudentId]) VALUES (5, 5, 5)
INSERT [dbo].[ParentStudenttbl] ([Id], [ParentId], [StudentId]) VALUES (6, 6, 6)
SET IDENTITY_INSERT [dbo].[ParentStudenttbl] OFF
SET IDENTITY_INSERT [dbo].[SchoolEventstbl] ON 

INSERT [dbo].[SchoolEventstbl] ([Id], [Title], [EventDescription], [EventDate], [StartTime], [EndTime], [Contact], [Charges]) VALUES (5, N'Parent Teacher Meeting', N'For class Play group to 3. Parents can come along with their children', CAST(N'2019-05-02 00:00:00.000' AS DateTime), CAST(N'2019-04-28 08:00:00.000' AS DateTime), CAST(N'2019-04-28 11:00:00.000' AS DateTime), N'03200498942', N'0')
INSERT [dbo].[SchoolEventstbl] ([Id], [Title], [EventDescription], [EventDate], [StartTime], [EndTime], [Contact], [Charges]) VALUES (6, N'Parent Teacher Meeting', N'For class 4 to 7. Parents can come along with their children', CAST(N'2019-05-03 00:00:00.000' AS DateTime), CAST(N'2019-04-28 08:00:00.000' AS DateTime), CAST(N'2019-04-28 11:00:00.000' AS DateTime), N'03200498942', N'0')
INSERT [dbo].[SchoolEventstbl] ([Id], [Title], [EventDescription], [EventDate], [StartTime], [EndTime], [Contact], [Charges]) VALUES (7, N'Parent Teacher Meeting', N'For class 8 to 10. Parents must bring their children', CAST(N'2019-05-04 00:00:00.000' AS DateTime), CAST(N'2019-04-28 08:00:00.000' AS DateTime), CAST(N'2019-04-28 11:00:00.000' AS DateTime), N'03200498942', N'0')
SET IDENTITY_INSERT [dbo].[SchoolEventstbl] OFF
SET IDENTITY_INSERT [dbo].[StudentClasstbl] ON 

INSERT [dbo].[StudentClasstbl] ([Id], [ClassId], [StudentId]) VALUES (4, 9, 4)
INSERT [dbo].[StudentClasstbl] ([Id], [ClassId], [StudentId]) VALUES (5, 9, 5)
INSERT [dbo].[StudentClasstbl] ([Id], [ClassId], [StudentId]) VALUES (6, 9, 6)
SET IDENTITY_INSERT [dbo].[StudentClasstbl] OFF
INSERT [dbo].[StudentLefttbl] ([StudentId], [DateLeft]) VALUES (4, CAST(N'2019-04-30 00:00:00.000' AS DateTime))
INSERT [dbo].[StudentLefttbl] ([StudentId], [DateLeft]) VALUES (9, CAST(N'2019-04-30 00:00:00.000' AS DateTime))
INSERT [dbo].[StudentLefttbl] ([StudentId], [DateLeft]) VALUES (20, CAST(N'2019-04-30 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Studentstbl] ON 

INSERT [dbo].[Studentstbl] ([Id], [FirstName], [LastName], [RegistrationNumber], [Username], [StdPassword], [CNIC], [ApprovalStatusId], [ActiveStatusId]) VALUES (4, N'Ahmed', N'Abdul Khaliq', N'SSS-1', N'Ahmed123', N'123', N'0000000000000', 2, 1)
INSERT [dbo].[Studentstbl] ([Id], [FirstName], [LastName], [RegistrationNumber], [Username], [StdPassword], [CNIC], [ApprovalStatusId], [ActiveStatusId]) VALUES (5, N'Talit', N'Mehmood', N'SSS-2', N'Talit123', N'123', N'0000000000001', 2, 2)
INSERT [dbo].[Studentstbl] ([Id], [FirstName], [LastName], [RegistrationNumber], [Username], [StdPassword], [CNIC], [ApprovalStatusId], [ActiveStatusId]) VALUES (6, N'Shireen', N'Gull', N'SSS-3', N'Shireen123', N'123', N'0000000000002', 2, 2)
SET IDENTITY_INSERT [dbo].[Studentstbl] OFF
SET IDENTITY_INSERT [dbo].[Subjectstbl] ON 

INSERT [dbo].[Subjectstbl] ([Id], [Name]) VALUES (5, N'English (1)')
INSERT [dbo].[Subjectstbl] ([Id], [Name]) VALUES (6, N'Urdu (1)')
INSERT [dbo].[Subjectstbl] ([Id], [Name]) VALUES (7, N'Math (1)')
SET IDENTITY_INSERT [dbo].[Subjectstbl] OFF
SET IDENTITY_INSERT [dbo].[Termstbl] ON 

INSERT [dbo].[Termstbl] ([Id], [Name]) VALUES (1, N'Term1')
INSERT [dbo].[Termstbl] ([Id], [Name]) VALUES (2, N'Term2')
INSERT [dbo].[Termstbl] ([Id], [Name]) VALUES (3, N'Term3')
SET IDENTITY_INSERT [dbo].[Termstbl] OFF
INSERT [dbo].[TimeTabletbl] ([WeeksDay], [ClassId], [SubjectId], [LectureTime]) VALUES (N'Monday', 9, 5, CAST(N'08:00:00' AS Time))
INSERT [dbo].[TimeTabletbl] ([WeeksDay], [ClassId], [SubjectId], [LectureTime]) VALUES (N'Monday', 9, 6, CAST(N'09:00:00' AS Time))
INSERT [dbo].[TimeTabletbl] ([WeeksDay], [ClassId], [SubjectId], [LectureTime]) VALUES (N'Monday', 9, 7, CAST(N'10:00:00' AS Time))
ALTER TABLE [dbo].[AttendanceMarkingtbl]  WITH CHECK ADD FOREIGN KEY([AttendanceStatusId])
REFERENCES [dbo].[AttendanceStatustbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceMarkingtbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassSubjecttbl]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classtbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassSubjecttbl]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjectstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Leavestbl]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parentstbl] ([Id])
GO
ALTER TABLE [dbo].[Leavestbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Markingstbl]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classtbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Markingstbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Markingstbl]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjectstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Markingstbl]  WITH CHECK ADD FOREIGN KEY([TermId])
REFERENCES [dbo].[Termstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parentstbl]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusId])
REFERENCES [dbo].[ApprovalStatustbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParentStudenttbl]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parentstbl] ([Id])
GO
ALTER TABLE [dbo].[ParentStudenttbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentClasstbl]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classtbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentClasstbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentLefttbl]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Studentstbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Studentstbl]  WITH CHECK ADD FOREIGN KEY([ActiveStatusId])
REFERENCES [dbo].[ActiveStatustbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Studentstbl]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusId])
REFERENCES [dbo].[ApprovalStatustbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeTabletbl]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classtbl] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeTabletbl]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjectstbl] ([Id])
ON DELETE CASCADE
GO
