
@{
    ViewBag.Title = "StudentReports";
}

<h2>Student Reports</h2>


<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <a class="btn btn-primary" style="background-color:black; border-color:black; align-self:center" href=@Url.Action("", "")>Download Attendance Report</a>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <a class="btn btn-primary" style="background-color:black; border-color:black; align-self:center" href=@Url.Action("", "")>Download Assessment Report</a>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <a class="btn btn-primary" style="background-color:black; border-color:black; align-self:center" href=@Url.Action("", "")>Download Information Report</a>
</div>
