@model IEnumerable<SmartSchoolSystem.Models.Attendance>

@{
    ViewBag.Title = "AddAttendance";
}

<h2 style="align-self:center; padding-left:500px;">Attendance Page</h2>
<h2> &nbsp; &nbsp; &nbsp;</h2>

<p style="text-align-last:center">
    @*@Html.ActionLink("Create New", "Create")*@
    <label>Class: </label> &nbsp;
    <select>
        <option>1A</option>
        <option>1B</option>
        <option>1C</option>
        <option>1D</option>

        <option>2A</option>
        <option>2B</option>
        <option>2C</option>
        <option>2D</option>

        <option>3A</option>
        <option>3B</option>
        <option>3C</option>
        <option>3D</option>

        <option>4A</option>
        <option>4B</option>
        <option>4C</option>
        <option>4D</option>
    </select>

    &nbsp;
    &nbsp;
    &nbsp;

    <label>Date: </label> &nbsp;
    <input type="date" />
    
    

</p>




<div class="text-center" style="border: 5px solid #000000; border-radius: 5px; padding: 10px; width: 80%; height: auto; margin: auto;">

    <table class="table" cellpadding="10">
        <tr>
            <th>Regiatration Number</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.regNo
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
                <td>
                    <select>
                        <option>Present</option>
                        <option>Absent</option>
                        <option>Leave</option>
                    </select>
                </td>
            </tr>
        }
    </table>
    </div>
<div style="text-align-last:center;padding-top:20px;">
    <button type="submit" style="background-color:black; border-color:black; align-self:center; color:white;">Mark</button>
</div>
